[MESSAGES CONTROL]
# in ML code we often use variable names like `x`, `y1`' etc.
disable=C0103

[FORMAT]
good-names=i,j,x,y,z

[TYPECHECK]
# https://github.com/pytorch/pytorch/issues/701
generated-members=numpy.*, torch.*
